
/*--------------- basic styling --------------- */
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: sans-serif !important;
      background: #fff !important;
      color: #666766 !important;

}

.whitespace1 {
      width: 100%;
      height: 99px;
}

.whitespace {
      width: 100%;
      height: 50px;
}

@media(max-width: 768px) {
      .whitespace {
        height: 50px;
      }
    }

.header {
  text-align: center;
  background-color: #cde1e2;
  width: 100%
  height: 100%;

}

.header img {
  padding-top: 10%;
  max-width: 100%;
  margin: 0 auto;
  animation: fadeIn 1s ease-in-out 0s forwards;
}

@media(max-width: 768px) {
      .header img {
        padding-top: 50%;
      }
}


/*--------------- navigation --------------- */
nav {
      font-weight: 800;
      width: 100%;
      background: #cde1e2;
      height: 100px;
      position: fixed;
      z-index: 1;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 275px;
      line-height: 100px;
      font-weight: bold;
}

nav #brand a {
      color: #666766;
      width: 80px;
      transition: all 0.3s ease-out;
}

nav #brand a:hover {
      color: #666766;
      text-decoration: none;
}

nav #menu {
      float: left;
      right: 250px;
      position: fixed;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: lighter;
      line-height: 100px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li span {

}

nav #menu li a {
      color: #fff;
}

nav #menu li a:hover {
      text-decoration: none;
}

#toggle {
      position: absolute;
      right: 35px;
      top: 25px;
      font-weight: 300;
      z-index: 2;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

#toggle img{
  width: 50px;
}

.close-btn {
      position: absolute;
      right: 35px;
      z-index: 1;
      cursor: pointer;
      top: 0px;
      float: right;
      line-height: 100px;
}

.close-btn img {
  width: 50px;
}

#resize {
      z-index: 2;
      top: 0px;
      position: fixed;
      background: #666766;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 50px 0;
      font-size: 50px;
      min-height: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 120px;
}

#resize #menu li a {
      color: #fff;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: .90;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 0px;
            margin-right: 0px;
      }

      nav #brand {
            margin-left: 24px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

/*--------------- hero section --------------- */
.container {
  width: 1400px;
}

.hero {
      height: 100%;
      display: block;
      align-items: center;
      background-color: #cde1e2;
      justify-content: center;
}

.hero h1 {
      font-weight: bolder;
      text-align: center;
      letter-spacing: 2px;
      line-height: 58px;
}

.about-content {
      width: 100%;
      font-size: 11pt;
      padding-top: 163px;
      display: block;
      font-weight: lighter;
      text-align: left;
      letter-spacing: -.5px;
      line-height: 1.5;
      color: #666766;
      float: left;
}

.about-content h3, .hero-content h3{
      width: 100%;
      font-size: 20pt;
      font-weight: bold;
      color: #a2b3b4;
      float: left;
    }
}

.hero-content {
      height: 100vh:
      width: 1400px;
      margin-top: 70px;
      font-size: 10pt;
      display: inline;
      font-weight: lighter;
      text-align: left;
      line-height: 10px;
      color: #666766;
      float: left;
}

.row {
}

/*--------------- projects section --------------- */
.section {
  width: 65%;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #666766;
  animation: fadeIn 2s ease-in-out 0s forwards;

}



.vertical {
      margin-top: 40px;
      border-left: 1px solid #fff;
      height: 80px;
      position: absolute;
      left: 50%;
}

.project {
      height: 200px;
}

.project .caption {
    font-family: sans-serif;
    font-size: .25em;
    font-weight: 400;
    background-color: #cde1e2;
    position: absolute;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;

}

.project .caption h1 {
  position: relative;
  font-weight: bolder;
  display: block;
  color: #fff;
  top: 35%;
  animation: fadeIn 2s ease-in-out 0s forwards;
}

.project .caption p {
  font-size: 8pt;
  color: #666767;
  position: relative;
  top: 30%;
}



 .project:hover .fade-caption {
    opacity: .95;
}

.landing {
      background: url('../landing.png') no-repeat 50% 50%;
      background-size:contain;
}

.landing::after {
      content: "";
      font-family: sans-serif;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

.project1 {
      background: url('../boxes.jpg') no-repeat 50% 50%;
      background-size: cover;
}

.project1::after {
      content: "";
      font-family: sans-serif;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

.project2 {
      background: url('../menu.png') no-repeat 50% 50%;
      background-size: cover;
}

.project2::after {
      content: "";
      font-family: sans-serif;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

.project3 {
      background: url('../warmcozy2.JPG') no-repeat 50% 50%;
      background-size: cover;
}

.project3::after {
      content: "";
      font-family: sans-serif;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

.project4 {
      background: url('../plushegg.jpg') no-repeat 50% 50%;
      background-size: cover;
}

.project4::after {
      content: "";
      font-family: sans-serif;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

.project5 {
      background: url('../nvrbckdwn.png') no-repeat 50% 50%;
      background-size: cover;
}

.project5::after {
      content: "";
      font-family: sans-serif;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

.project6 {
      background: url('../dinner2.png') no-repeat 50% 50%;
      background-size: cover;
}

.project6::after {
      content: "";
      font-family: sans-serif;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

.project7 {
      background: url('../bubblekitty.png') no-repeat 50% 50%;
      background-size: cover;
}

.project7::after {
      content: "";
      font-family: sans-serif;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

.project8 {
      background: url('../piedmont.png') no-repeat 50% 50%;
      background-size: cover;
}

.project8::after {
      content: "";
      font-family: sans-serif;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

@media(max-width: 768px) {
      .project {
            width: 100% !important;
            margin: 1px auto;
      }

      .vertical {
            display: none;
      }
}

/*--------------- footer section --------------- */

.footer {
      width: 100%;
      padding-top: 20px;
      font-weight: lighter:
      animation: fadeIn 2.5s ease-in-out 0s forwards;
}
.info h4 {
      text-align: center;
      padding-top: 5px;
      font-size: 8px;
      font-weight: lighter;
      color: #666766
}

.info li {
      font-weight: lighter;
      font-size: 18px;
      padding-left: 0px;
}

#li::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;

}


#ig::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;

}


#em::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;

}

#media {
      text-align: center;
}



#media ul li {
      display: inline-block;
}

@media(max-width: 768px) {
      .collab, #media {
            text-align: center;
      }

      .info ul {
            margin: 0 auto;
            padding: 0;
      }
}

/*--------------- work page --------------- */



.project-img  {
  position: relative;
  text-align: center;

}

.project-img img {
  max-width: 75% !important;
  margin: 0 auto;

  }
}

.hero-content h6 {
      font-size: 6pt !important;
      text-align: left;
      font-weight: lighter;
      font-style: italic;
      color: #000;
}

.hero-content a {
  color: #a2b2b4;
  font-weight: 400;
}

@media(max-width: 768px) {
      .hero-content {
        height: 100vh;
      }
    }
}

/*---------------about page --------------- */


.about {
        height: 100vh;
        margin-top: 120px;

}

.about a {
  color: #c3c3c3;
}

.bio-image {
      height: 700px;
      margin-top: 120px;
      background: url('../8.png') no-repeat center;
      position: relative;
}

@media(max-width: 768px) {
      .about-content {
            padding-top: 0px;
            width: 100%;
            margin: 0 auto;
      }
}


/*--------------- work page --------------- */

.hero-content {
      margin-left: 0%;
      animation: fadeIn 1.5s ease-in-out 0s forwards;
}

.hero-content p {
      font-size: 10pt;
      text-align: left;
      margin: 0 auto;
      font-weight: 300;
      line-height: 1.25;
      color: grey;
}

@media(max-width: 768px) {
      .hero-content {
            padding-top: 0px;
            width: 100%;
            margin: 0 auto;
      }
}



/*--------------- project page --------------- */

.prev a, .next a{
  display: block;
  font-weight: bold;
  color: #a2b2b4 !important;
  font-size: 10pt;

}

.prev p {
      text-align: left !important;
}

.next p {
      text-align: right !important;
    }
}

/* slide */

#myCarousel {
  width: 786px;
  margin: 0 auto;

}

@media(max-width: 768px) {
      #myCarousel {
            width: 100% !important;

          }
        }

.carousel .carousel-item {
  animation: fadeIn 1s ease-in-out 0s forwards;
    overflow:hidden;
    margin-bottom:1em;
    margin-top:1em;
}
.carousel-inner > .carousel-item > img {
    float: left;
    height: none;
    width:  100%;
}
