@font-face {
    src: url(https://use.typekit.net/aal6sfn.css);
}

/*--------------- basic styling --------------- */
html, body {
      width: 100%;
      background-color: #fbfbf8 !important;
      overflow-x: hidden;
}

.whitespace1 {
      width: 100%;
      height: 50px;
}

.whitespace {
      width: 100%;
      height: 25px;
}


/*--------------- navigation --------------- */

nav {
      font-family: quicksand, sans-serif !important;
      font-style: normal;
      width: 100%;
      height: 80px;
      position: inherit;
      opacity: 100%;
      z-index: 3;

}

nav #brand {
      float: left;
      display: block;
      margin-left: 280px;
      line-height: 75px;
}

nav #brand img {
      margin: 15px;
      width: 45px;
}

nav #brand a {
      font-weight: 200;
      font-size: 9pt;
      color: #555555;
}

nav #brand a:hover {
      text-decoration: none;
      transition: all .2s ease-out;
      color: #94a7aa;
}

nav #menu {
      float: right;
      right: 275px;
      position: absolute;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      list-style-type: none;
      cursor: pointer;
      line-height: 80px;
      position: relative;
}


nav #menu li a {
      font-weight: 700;
      font-size: 10pt;
      color: #555555;
}

nav #menu li a:hover {
      color: #94a7aa;
      text-decoration: none;
      transition: all .2s ease-out;
      border-bottom: 2pt solid #94a7aa;
}


#menu a.active {
      color: #94a7aa;
      border-bottom: 2pt solid #555555;

}


#toggle {
      position: absolute;
      right: 5px;
      top: 15px;
      cursor: pointer;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

#toggle img{
  width: 50px;
}

.close-btn {
      position: absolute;
      right: 5px;
      cursor: pointer;
      bottom: 25px;
      font-style: normal;
      font-weight: 600;
      font-size: 12pt;
      color: #fbfbf8;
}

.close-btn img {
  width: 40px;
  margin-left: 5px;
}

#resize {
      z-index: 2;
      background-color: rgba(59,59,59, .9);
      top: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      right: 0;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-out;
      box-shadow: 0 0 12px #141111;
}



#resize #menu {
      font-family: quicksand, sans-serif !important;
      font-style: normal;
      position: absolute;
      vertical-align: center;
      margin-top: 100px;

}

#resize #menu li {
      width: 100%;
      display: block;
      text-align: left;
      cursor: pointer;
      margin-top: 55px;
      transition: all 0.3s ease-out;
}

#resize #menu li a {
      font-weight: 600;
      font-size: 24pt;
      color: #fbfbf8;

}

#resize #menu li a:hover {
      color: #fbfbf8;
      border-bottom: 2.5pt solid #94a7aa;
      text-decoration: none;
      transition: all .3s ease-out;
}

#resize #menu li a.active {
      color: #fbfbf8;
      border-bottom: 2.5pt solid #94a7aa;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}


@media(max-width: 1400px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 0px;

      }

      nav #brand {
            margin: 0 auto;
      }


      nav #menu {
            display: none;
      }
}

@media(min-width: 1400px) {
      #resize {
            visibility: hidden !important;
      }
}


/*--------------- section nav --------------- */

    .secondary {
      	position: fixed;
        top: 25%;
        z-index: 1;
        margin: 0 auto;
        background-color:  rgba(251,251,251,0.8);
        margin-left: 10px;
        padding: 25px;
        border-radius: 5px;
        filter: drop-shadow(0px 0px 4px #cccccc);

    }

  	.secondary ul, .secondary li, .secondary a {
      text-align: left;
      font-family: quicksand, sans-serif !important;
      font-size: 10pt;
      color: #677d83 !important;
			display: block;
    	text-decoration: none !important;
      margin-left: 0;
      padding-left: 0;
      list-style: none;
			font-weight: 200;
      padding-top: 5px;


      &:hover {
        background-color: #000;
      }

       &.active {
        color: #fbfbf8;;
        background-color: rgba(0,0,0,0.1);
       }
      }




@media (max-width: 1400px) {
      .secondary {
        visibility: hidden !important;
        display: none !important;
      }
    }

/*--------------- projects section --------------- */

.section{
  width: 100%;
  padding: 25px;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 2px #eeeeee);
}

@media screen and (max-width: 767px) {
.section {margin-bottom: 10px;}
}


img {
  border-radius: 5px;
}

.project {
      height: 250px;
      border-radius: 5px;
      padding: 25px;
}

.project0 {
      background: url('../Bellyrub-banner.png') no-repeat 50% 25%;
      background-size: cover;

}

.project1 {
      background: url('../STredesignmockup.jpg') no-repeat 50% 50%;
      background-size: cover;

}


.project2 {
      background: url('../boxes.jpg') no-repeat 50% 50%;
      background-size: cover;
}

.project3 {
      background: url('../LGGwebbanner.png') no-repeat 50% 50%;
      background-size: cover;
}

.project4 {
      background: url('../Obscurity-Banner.png') no-repeat 50% 50%;
      background-size: cover;
}

.project5 {
      background: url('../Other/ryuillustration.png') no-repeat 50% 50%;
      background-size: cover;
}

.project6 {
      background: url('../mishlybanner.png') no-repeat 50% 50%;
      background-size: cover;
}

@media(max-width: 1280px) {
      .section {
            width: 100% !important;
            margin: 0px auto;
            text-align: center;
      }

      .project-content {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }

      .vertical {
            display: none;
      }
}


/*--------------- work page --------------- */

.container-flex {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fbfbf8;
}

.project-row {
  max-width: 100%;
  margin: 0 auto;
  margin: 0px 0px 50px 0px;
  padding: 0px 25px 0px 25px;

}

.project-image img {
  max-width: 100%;
  margin: 0 auto;
}

.project-content a {
      font-family: quicksand, sans-serif !important;
      font-size: 10pt;
      font-weight: 800;
      font-style: normal;
      color: #94a7aa;
      }

      .project-content a:hover {
      color: #677d83;
      transition: all .2s ease-out;
      text-decoration: none;
      }


      #title h1 {
      font-family: quicksand, sans-serif; !important;
      font-size: 36pt !important;
      text-align: left;
      font-weight: 800;
      font-style: normal;
      color: #24292f;
      }

      #header h2 {
            font-family: quicksand, sans-serif; !important;
            font-size: 20pt !important;
            text-align: left;
            font-weight: 800;
            font-style: normal;
            color: #5c5c5c;
            }

            #subheader h3 {
               font-family: quicksand, sans-serif !important;
               font-size: 16pt;
               font-weight: 800;
               font-style: normal;
               color: #5c5c5c;
               text-align: left;
               }

       #section h4 {
          font-family: quicksand, sans-serif !important;
          font-size: 11pt;
          font-weight: 800;
          font-style: normal;
          color: #677d83;
          text-align: left;
          }


        #subtitle h5 {
          font-family: quicksand, sans-serif;
          font-weight: 200;
          font-style: normal;
          font-size: 14pt;
          color: #c3c3c3;
          text-align: left;
          margin-top: 20px;
          }


.project-content p {
      font-family: acumin-pro, sans-serif;
      font-size: 11pt;
      font-weight: 200;
      font-style: normal;
      color: #555555;
      text-align: left;
      line-height: 1.5;
      margin-bottom: 15px;
}

.project-content ul, .project-content li{
      font-family: acumin-pro, sans-serif;
      padding-bottom: 5px;
      font-size: 11pt;
      font-weight: 200;
      font-style: normal;
      color: #555555;
      text-align: left;
}

@media(max-width: 1280px) {
      .project-content {
        height: 100%;
      }

      #title h1 {
       text-align: center !important;
     }

     #section h4 {
       padding-top: 10px;
        text-align: left;
        }

      .project-image img {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center !important;
      }
    }
  }


/*--------------- project page --------------- */

.project-nav {
  width: 100%;
  height: 200px;
  position: absolute;
  animation: fadeIn 1s ease-in-out 0s forwards;
  margin-bottom: 25px;

  }

  .row #nav-row  {
    flex-wrap: nowrap !important;
    margin: 25px 0px 25px 0px;
  }


.prev a, .next a{
  font-family: quicksand, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10pt;
  display: inline;
  color: #94a7aa !important;

}

.prev a:hover, .next a:hover{

  display: inline;
  text-decoration: none;
  color: #677d83 !important;
  transition: all 0.3s ease-out;

}

.prev p {
      float: left !important;
}

.next p {
      text-align: right !important;
    }
}

@media(max-width: 1280px) {

  .project-nav {
    width: 100%;
    height: 350px;
    position: relative;
    animation: fadeIn 1s ease-in-out 0s forwards;
    }

  .prev a, .next a{
    display: block;
    font-weight: bold;
    color: #94a7aa !important;
    font-size: 10pt;

  }

  .prev p {
        text-align: left !important;
  }

  .next p {
        text-align: right !important;
      }
  }

}


/* carousel */

#myCarousel1 {
  width: 786px;
  z-index: 1;

}


@media(max-width: 1280px) {
      #myCarousel1 {
            width: 100% !important;

          }
        }

.carousel-indicators li {
}

.carousel .carousel-item {
    overflow:hidden;
}
.carousel-inner > .carousel-item > img {
    float: left;
    height: 100%;
    width:  100%;
}



/*--------------- footer section --------------- */

.footer {
      font-family: quicksand, sans-serif !important;
      text-align: left;
      bottom: 0;
      position: relative;
      width: 100%;
      background-color: #24292f;
      padding: 25px;
}

.hr {
      width: 1100px;
      margin: 0 auto;
      animation: fadeIn 1.5s ease-in-out 0s forwards;
}

.footer #footertitle h4{
      font-size: 12px;
      font-weight: 600;
      color: #fbfbf8;
      padding-bottom: 20px;
      border-bottom: 1px solid #fff;
}

.info {
  padding-top: 25px;
}
.info #media {
      padding-top: 10px;
      font-size: 11px;
      color: #fbfbf8;

}

.info #media  a{
      padding-top: 12px;
      font-weight: 600;
      line-height: 2;
      color: #94a7aa;

}

.info #media  a:hover{
      text-decoration: none;
      color: #fbfbf8;
      transition: all .2s ease-out;

}

.info #media img {
      filter: invert(100%);
      height: 15px;
      padding-right: 10px;
}

.info #media li {
  list-style-type: none;
  padding-bottom: 5px;
}

.info img {
      max-width: 50px;
      text-align: right;
}

.info #credit h4 {
      text-align: right;
      font-size: 11px;
      color: #fbfbf8;
}


@media(max-width: 1280px) {

      .hr {
        width: 100% !important;
      }

      .info #credit h4 {
            text-align: left;
      }

      .info #media {
            text-align: left;
      }

      .info img {
            height: 15px;
      }

}

/* loading animations */

.animatable {

  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: pause;
}

/* show objects being animated */
.animated {
  visibility: visible;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-play-state: running;
}

/* CSS Animations */



@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateX(50px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}


.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

/* back to top */
#scroll {
    position:fixed;
    right:25px;
    bottom:25px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#fbfbf8;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 4;
    transition: all 0.3s ease-out;
    filter: drop-shadow(0px 0px 2px #cccccc);

}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#555555;
}

#scroll:hover {
    background-color:#94a7aa;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

  #button {
  margin-top: 10px;
  color: #fbfbf8!important;;
  position: relative;
  cursor: pointer;
  border: 2pt solid #fbfbf8;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  text-align: left !important;
}


#button:hover{
  color: #677d83!important;
  background-color: #fbfbf8 !important;
}

#button2 {
margin-top: 10px;
color: #677d83!important;;
position: relative;
cursor: pointer;
border: 2pt solid #677d83;
border-radius: 15px;
padding: 5px 15px 5px 15px;
text-align: left !important;
}


#button2:hover{
color: #fbfbf9!important;
background-color: #677d83 !important;
}


@media(max-width: 1280px) {

      #button  {
      text-align: left;
     }
   }
