@font-face {
    font-family: 'Acumin Pro', sans-serif;
    src: url(https://use.typekit.net/aal6sfn.css);
}

@font-face {
    font-family: 'Vidaloka', serif;
    src: url(https://fonts.googleapis.com/css2?family=Vidaloka&display=swap);
  }
/*--------------- basic styling --------------- */
html, body {
      width: 100%;
      height: viewport;
      font-family: acumin-pro, sans-serif !important;
      background-color: #fffbfa;
      color: #3B3B3B !important;
      overflow-x: hidden;
}

.whitespace1 {
      width: 100%;
      height: 100px;
}

.whitespace {
      width: 100%;
      height: 50px;
}


/*--------------- navigation --------------- */
nav {
      width: 100%;
      height: 100px;
      position: relative;
      opacity: 100%;
      z-index: 1;
      margin-bottom: 25px;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 280px;
      line-height: 100px;

}

nav #brand img {
      width: 70px;
}

nav #brand a {
      width: 80px;
      transition: all 0.3s ease-out;
}

nav #brand a:hover {
      text-decoration: none;
}

nav #menu {
      float: left;
      right: 285px;
      position: absolute;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      line-height: 100px;
      position: relative;
      transition: all 0.3s ease-out;
}


nav #menu li a {
      font-family: 'Acumin Pro', sans-serif !important;
      font-weight: 600;
      font-size: 11pt;
      color: #fffbfa;
}

nav #menu li a:hover {
      color: #3b3b3b;
      text-decoration: none;
      transition: all .2s ease-out;
      border-bottom: 2pt solid #fffbfa;
}


#menu a.active {
      color: #fffbfa;
      border-bottom: 2pt solid #3b3b3b;

}

#toggle {
      position: absolute;
      right: 25px;
      top: 27px;
      font-weight: lighter;
      z-index: 2;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

#toggle {
      position: absolute;
      right: 25px;
      top: 27px;
      font-weight: lighter;
      z-index: 2;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

#toggle img{
  width: 50px;
}

.close-btn {
      position: absolute;
      right: 25px;
      z-index: 1;
      cursor: pointer;
      top: 0;
      float: right;
      line-height: 100px;
}

.close-btn img {
  width: 50px;
}

#resize {
      z-index: 2;
      background: #94A8A8;
      top: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 50px 0;
      font-size: 50px;
      min-height: 20px;
      font-weight: lighter;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 120px;
}

#resize #menu li a {
      font-family: 'Acumin Pro', sans-serif !important;
      font-style: normal;
      font-weight: bold;
      font-size: 12pt;
      color: #3b3b3b;

}

#resize #menu li a:hover {
      color: #fffbfa;
      border-bottom: 2pt solid #3b3b3b;
      text-decoration: none;
      transition: all .2s ease-out;
}

#resize #menu li a.active {
      color: #fff;
      border-bottom: 2pt solid #fffbfa;
}

#resize.active {
      visibility: visible;
      opacity: .95;
}


@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 0px;
            margin-right: 0px;
      }

      nav #brand {
            margin-left: 10px;
      }

      #menu a {
            font-size: 20px;
            font-weight: lighter;
      }

      #resize li span {
            font-weight: lighter;
      }


      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

/*--------------- hero section --------------- */
.hero-container {
  width: 100%;
  height: 100%;
}

.hero {
      width: 100%;
      z-index: 1;

}

.hero #sectionblurb p{
  font-family: 'acumin-pro', sans-serif !important;
  font-style: normal;
  font-weight: lighter;
  font-size: 10pt;
  line-height: 20px;
  color: #fffbfa;
  text-align: left;
}

.hero #hero-background {
  background-color: #94A8A8;

}

.hero #project1 {
  background-color: #aa91a9;

}

.hero #project2 {
  background-color: #cf6665;
}


.hero #project4 {
  background-color: #807d85;
}

.hero #project5 {
  background-color: #76a7ad;
}





/*--------------- projects section --------------- */
.section {
  width: 1300px;
  margin: 0 auto;
}

.project-container {
  width: 100%;
  margin: 0 auto;
}

.project-container #title h1 {
      padding-bottom: 25px;
      font-family: 'acumin-pro-condensed', sans-serif !important;
      font-weight: 300;
      font-size: 24pt;
      line-height: 20px;
      color: #677d83;
      text-align: center;
      letter-spacing: 1px;
}

.sectionblurb #specialty h4 {
      font-family: 'Acumin Pro' sans-serif !important;
      font-weight: bold;
      font-size: 9pt;
      line-height: 20px;
      letter-spacing: .15pt;
      color: #fffbfa;
      text-align: left;

}

.sectionblurb #alt-specialty h4 {
        font-family: 'Acumin Pro' sans-serif !important;
        font-weight: bold;
        font-size: 9pt;
        color: #3b3b3b;
        text-align: left;
        letter-spacing: .15pt;
        padding-bottom: 25px;
        border-bottom: 4pt dotted #677d83;;
}

.project {
      height: 250px;
      margin: 5px;
}

.project .caption {
    background-color: rgba(148,	168,	168, .90);
    position: absolute;
    z-index: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;

}

.project .caption h1 {
  font-family: 'acumin-pro-condensed', sans-serif !important;
  weight: 700;
  position: relative;
  font-weight: bolder;
  display: block;
  color:  #3b3b3b;
  letter-spacing: .15pt;
  top: 30%;
  animation: fadeIn 2s ease-in-out 0s forwards;
}

.project .caption p {
  font-size: 9pt;
  color: #fffbfa;
  letter-spacing: .25pt;
  position: relative;
  top: 35%;
}

.project span:hover {
    opacity: 100%;
}

.project1 {
      background: url('../STredesignmockup.jpg') no-repeat 50% 50%;
      background-size: cover;

}

.project1::after {
      filter: none;
      content: "";
      font-family: 'Acumin Pro', sans-serif !important;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;

}

.project2 {
      background: url('../boxes.jpg') no-repeat 50% 50%;
      background-size: cover;
}

.project2::after {
      content: "";
      font-family: 'Acumin Pro', sans-serif !important;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

.project3 {
      background: url('../LGGwebbanner.png') no-repeat 50% 50%;
      background-size: cover;
}

.project3::after {
      content: "";
      font-family: acumin-pro, sans-serif !important;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}

.project4 {
      background: url('../bubblekittymockup.png') no-repeat 50% 50%;
      background-size: cover;
}

.project4::after {
      font-family: acumin-pro, sans-serif !important;
      font-weight: bolder;
      font-size: 36px;
      position: relative;
      color: #000;
      display: block;
      top: 80%;
      right: 0;
      bottom: 0;
}


@media(max-width: 1280px) {
      .section {
            width: 100% !important;
            margin: 0px auto;
            text-align: center;
      }

      .project-container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }

      .vertical {
            display: none;
      }
}


/*--------------- work page --------------- */

.project-row {
  padding-top: 35px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.project-image img {
  max-width: 100%;
  margin: 0 auto;
}

.project-content h1 {
      font-family: acumin-pro-condensed, sans-serif !important;
      font-size: 36pt !important;
      text-align: left;
      font-weight: bold;
      font-style: normal;
      color: #3b3b3b;
      padding-bottom: 5px;
      letter-spacing: .15pt;
      }

  .project-row #section h2 {
      font-family: acumin-pro-condensed, sans-serif !important;
      font-weight: 300;
      font-size: 16pt;
      color: #677d83;
      text-align: left;
      letter-spacing: 1px;
      }

      .project-content h2 {
            font-family: 'Acumin Pro' sans-serif !important;
            font-weight: lighter;
            font-size: 9pt;
            color: #3b3b3b;
            text-align: left;
            }

.project-content h3 {
      font-family: 'Acumin Pro' sans-serif !important;
      font-weight: 700;
      font-size: 9pt;
      color: #3b3b3b;
      text-align: left;
      padding-top: 5px;
      }

.project-content h4 {
      font-family: 'Acumin Pro' sans-serif !important;
      font-weight: bold;
      font-size: 9pt;
      color: #3b3b3b;
      letter-spacing: .15pt;
      text-align: left;
      padding-bottom: 25px;
      border-bottom: 4pt dotted #3b3b3b;
}

.sectionblurb #alt-title h1 {
      font-family: acumin-pro-condensed, sans-serif !important;
      font-size: 36pt !important;
      text-align: left;
      font-weight: bold;
      font-style: normal;
      color: #3b3b3b;
      padding-bottom: 5px;

}

.project-content caption li {
  text-align: left;
}

.project-content #sectionblurb {
      font-family: 'acumin-pro', sans-serif !important;
      font-style: normal;
      font-weight: lighter;
      font-size: 10pt;
      color: #3B3B3B;
      text-align: left;
      padding-top: 15px;
}

.project-content #sectionblurb a{
      font-family: 'acumin-pro', sans-serif !important;
      font-style: normal;
      font-weight: bold;
      font-size: 9pt;
      color: #677d83;;
      text-align: left;
      padding-bottom: 10px;
}


.project-content #sectionblurb a:hover{
      color: #3b3b3b;
      text-decoration: none;
      transition: all .2s ease-out;
}


.sectionblurb #homeblurb {
      font-family: 'acumin-pro', sans-serif !important;
      font-style: normal;
      font-weight: lighter;
      font-size: 9pt;
      letter-spacing: .15pt;
      color: #fffbfa;
      text-align: left;
      padding-top: 15px;
}

.sectionblurb #homeblurb a{
      font-family: 'acumin-pro', sans-serif !important;
      font-style: normal;
      font-weight: bold;
      font-size: 9pt;
      letter-spacing: .5pt;
      color: #94A8A8;;
      text-align: left;
      padding-bottom: 10px;
}

.sectionblurb #homeblurb a:hover{
      text-decoration: none;
}

@media(max-width: 1280px) {
      .project-content {
        height: 100%;
      }
    }
  }


/*--------------- project page --------------- */

.project-nav {
  width: 100%;
  height: 200px;
  position: relative;
  animation: fadeIn 1s ease-in-out 0s forwards;

  }

  .row#nav-row  {
    flex-wrap: nowrap !important;
    padding-top: 50px;
  }


.prev a, .next a{

  display: block;
  font-weight: bold;
  color: #94A8A8 !important;
  font-size: 10pt;

}

.prev a:hover{

  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #3b3b3b !important;
  font-size: 10pt;

}

.prev p {
      text-align: left !important;
}

.next p {
      text-align: right !important;
    }
}

@media(max-width: 1280px) {

  .project-nav {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    position: relative;
    animation: fadeIn 1s ease-in-out 0s forwards;

    }

    .row #nav-row  {
      flex-wrap: nowrap !important;
      padding-top: 50px;
    }


  .prev a, .next a{
    display: block;
    font-weight: bold;
    color: #94A8A8 !important;
    font-size: 10pt;

  }

  .prev p {
        text-align: left !important;
  }

  .next p {
        text-align: right !important;
      }
  }

}


/* carousel */

#myCarousel1 {
  width: 786px;
  margin: 0 auto;
  z-index: 1;

}


@media(max-width: 1280px) {
      #myCarousel1 {
            width: 100% !important;

          }
        }

.carousel-indicators li {
}

.carousel .carousel-item {
    overflow:hidden;
    margin-bottom:1em;
    margin-top:1em;
}
.carousel-inner > .carousel-item > img {
    float: left;
    height: none;
    width:  100%;
}



/*--------------- footer section --------------- */

.footer {
      bottom: 0;
      position: relative;
      background-color:  #fffbfa;
      opacity: 75%;
      width: 100%;
      font-weight: lighter;
}

.hr {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  animation: fadeIn 1.5s ease-in-out 0s forwards;
}

.info #credit h4 {
      text-align: right;
      padding-top: 20px;
      padding-right: 50px;
      font-size: 8px;
      font-weight: lighter;
      color: #3b3b3b;
}

.info #media li {
      font-weight: lighter;
      font-size: 18px;
      padding-top: 10px;
}

.info #media {
      text-align: left;
}

.info img {
      height: 15px;
      padding-left: 10px;
}

.info img:hover {
      filter: invert(100%);
      transition: all .2s ease-out;

}



.info #media ul li {
      display: inline-block;
}

@media(max-width: 1280px) { .footer {
      height: 75px;
}

      .info #credit h4 {
            text-align: center;
            padding-top: 10px;
            padding-right: 0 !important;
      }

      .info #media {
            text-align: center;
      }

      .info img {
            height: 15px;
            margin: 5px;

      }


      .hr {
        width: 100%;
        padding-top: 0px;
      }

      .info ul {
            margin: 0 auto;
            padding: 0;
      }
}

/* loading animations */

.animatable {

  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-play-state: running;
}

/* CSS Animations */



@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(10px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}


.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

/* back to top */
#scroll {
    position:fixed;
    right:25px;
    bottom:25px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#677d83;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 2;
    transition: all 0.3s ease-out;

}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#fffbfa;
}

#scroll:hover {
    background-color:#3b3b3b;;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/* button */


.btn.rounded.outline {
background-color: #3b3b3b;
margin-top: 25px;
padding: 2px 10px 3px;
text-align: center;
text-decoration: none;
display: block;
cursor: pointer;
  }

.btn.rounded.outline:hover {
    background-color: #fffbfa;
}
